@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
.container {
 max-width: 1170px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.card {
  height: 560px;
  /* width: 320px;  */
  width: 80%;
  /* height: auto; */
  background-color: #fff;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  margin-top: 10px;
  width: 150px;
}
.rating_reviews {
  display: flex;
}
.rating_reviews p {
  font-size: 12px;
  margin-top: 8px;
  margin-left: 10px;
  font-weight: 600;
}
.rating_reviews p:nth-child(2) {
  color: red;
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  float: left;
}
.rating > input {
  display: none;
}
.rating > label {
  position: relative;
  width: 14px;
  font-size: 19px;
  color: orange;
  cursor: pointer;
  transition: all 0.5s;
  margin-right: 2px;
}
.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}
.rating > input:checked ~ label:before {
  opacity: 1;
}
.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}
.quantity_gram {
  margin-top: 10px;
  height: 40px;
  width: 100%;
  background-color: #fff9ed;
  border-radius: 14px;
  display: flex;
}
.quantity_gram span {
  height: 40px;
  width: 100%;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 800;
  color: #827f78;
  cursor: pointer;
  transition: all 0.5s;
}
.quantity_gram span:hover {
  color: #000;
  font-size: 12px;
  background-color: #fedd9a;
}
.price {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qty {
  display: flex;
  height: 40px;
  width: 80px;
  border: 1px solid #eeeeee;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.qty p {
  padding: 0 11px;
  font-weight: 700;
  margin-top: 4px;
}
.qty i {
  margin-top: 4px;
  cursor: pointer;
  transition: all 0.5s;
}
.description {
  margin-top: 10px;
}
.description p {
  font-size: 11px;
}
.last_section {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.last_section button {
  height: 40px;
  width: 100%;
  background-color: #53535a;
  font-size: 12px;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s;
  margin-right: 10px;
}
.last_section button:hover {
  background-color: #101030;
}
.heart {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fec34a;
}
.heart i {
  margin-top: 4px;
  margin-left: 1px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.5s;
}
.fa-heart {
  color: red;
  font-weight: 800;
}
